@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/*=== === CSS  RESETS === ===*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

/*=== === Base CSS === ===*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
button {
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
input {
  border: 0;
  margin: 0;
}
input:focus {
  outline: 0;
}
img {
  width: 100%;
}

/* === === Main CSS === === */
:root {
  --bg-primary: #ffffff; /* Need to change*/
  --text-color: #999999;
  --font-family: "Roboto", sans-serif;
  --font-size: 21px;
  --letter-spacing: 0.35px;
  --border: 1px solid #dadce0;
  --box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
}

.wrapper {
  max-width: calc(100% - 200px);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: var(--letter-spacing);
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 25px 0;
}

.input {
  color: var(--text-color);
  font: 15px/24px "Lato", Arial, sans-serif;
  letter-spacing: 1px;
  position: relative;
}

.input-effect {
  box-sizing: border-box;
  font-size: var(--font-size);
  /* border: var(--border); */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 14px 10px;
  width: 100%;
  transition: 0.4s;
  outline: none;
}

.input-effect ~ .focus-border:before,
.input-effect ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: 0.4s;
}

.input-effect ~ .focus-border:after {
  top: auto;
  bottom: 0;
}

.input-effect ~ .focus-border i:before,
.input-effect ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--text-color);
  transition: 0.6s;
}

.input-effect ~ .focus-border i:after {
  left: auto;
  right: 0;
  /* border-radius: 4px; */
}

.input-effect:focus ~ .focus-border:before,
.input-effect:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}

.input-effect:focus ~ .focus-border i:before,
.input-effect:focus ~ .focus-border i:after {
  top: 0;
  height: 100%;
  transition: 0.6s;
}

.font-preview-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.font-preview-div {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 10px;
  min-height: 200px;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.font-preview-div:hover {
  cursor: pointer;
  /* color: #001001; */
  /* background-color: #f3ebeb; */
  background-color: #f5efef;
  transition: 0.18s ease all;
}

.font-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.font-title {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.5px;
}

.btn {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}

.custom-text-area {
  padding-top: 20px;
  /* color: #000000; */
}

#footer-a:hover {
  cursor: pointer;
  font-weight: 700;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 25px 0;
  }
}
